nav ul {
  display: inline-block;
}

nav h1 {
  display: inline-block;
}

nav li {
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  font-family: Arial Rounded MT Bold, Arial, Verdana, sans-serif
}

body {
  font-family: Georgia, Times, serif; background-color: #fffcf9
}

h1 {
  color: #ff6978
}

h3 {
  color: #6d435a
}

a:link {
  color: #ff6978;
  text-decoration: underline;
}

a:hover {
  color: #ff6978;
  text-decoration: none;
  border-bottom: thin #000 dotted;
}

a:visited {
  color: #ff6978;
  text-decoration: underline;
  font-weight: 700;
}

li {
  list-style-type: none;
  margin-bottom: 1px;
}

.img2 {
  display: table-cell;
  float: right;
}

.indent {
  margin-left: 35px;
}
